@(addUserForm: Form[models.users.User], error: String)
@import helper._

@mainTemplate.main("Create User", null) {
    <div class="row">
        <div class="col-lg-3">
            @if(error != null){
                <div class="alert alert-warning">
                    <strong>@error</strong>
                </div>
            }
            <!--http://stackoverflow.com/questions/38379858/play-framework-get-value-from-form-->
            <!--http://stackoverflow.com/questions/10127156/use-of-option-helper-in-play-framework-2-0-templates/10137190#10137190-->
            @helper.form(action = controllers.routes.HomeController.addUserSubmit(), 'class -> "form-horizontal", 'role->"form"){
                @inputText(addUserForm("fname"), '_label -> "First Name", 'class -> "form-control")
                @inputText(addUserForm("lname"), '_label -> "Last Name", 'class -> "form-control")
                @inputText(addUserForm("address"), '_label -> "Address", 'class -> "form-control")
                @inputText(addUserForm("phoneNumber"), '_label -> "Phone No.", 'class -> "form-control")
                @inputText(addUserForm("ppsNumber"), '_label -> "PPS Number", 'class -> "form-control")
                @inputDate(addUserForm("dateOfBirth"), '_label -> "Date Of Birth", '_help -> "format yyyy-dd-MM",'class -> "form-control")
                @inputText(addUserForm("email"), '_label -> "Email", 'class -> "form-control")
                @select(addUserForm("role"), options("select" -> "--- Please Select ---","Admin"-> "Admin", "Consultant"->"Consultant"), '_label -> "Role")
                @inputPassword(addUserForm("password"), '_label -> "Password", 'class -> "form-control")
                @inputPassword(addUserForm("passwordConfirm"), '_label -> "Confirm Password", 'class -> "form-control")

            <div class="actions">
                <input type="submit" value="Add User" class="btn btn-primary">
                <a href="@routes.HomeController.index()" <button class="btn btn-warning">Cancel</button></a>
            </div>
        }
        </div>
    </div>
}